<!-- <p>navbar works!</p> -->

    <!-- <img src="assets/icicilogo1.png" alt="ICICI Lombard" class="logo"> -->
    <div class="contact-options">
     <span>1800 2666 (Available 24 x 7)</span>
     <button class="call-btn">Call Back</button>
     <button class="chat-btn">Live Chat</button>
     <button class="support">Support</button>
     <button class="info center">Info center</button>

   </div> 
 


<div>
    <nav class="navbar">
        <img src="assets/motor-insurance.img/icicilogo1.png" alt="ICICI Lombard" class="logo">
        <ul class="menu">
          <li>
            <a href="#">Motor Insurance</a>
            <ul class="dropdown">
              <li><a href="#">Motor Insurance</a></li>
              <li><a href="#">Car Insurance</a></li>
              <li><a href="#">Bike Insurance</a></li>
            </ul>
          </li>
          <li>
            <a href="#">Health Insurance</a>
            <ul class="dropdown">
              <li><a href="#">Elevate</a></li>
              <li><a href="#">MaxProtect</a></li>
              <li><a href="#">Health Booster</a></li>
            </ul>
          </li>
          <li><a href="#">Travel Insurance</a></li>
          <li><a href="#">SME</a></li>
          <li><a href="#">Corporate</a></li>
          <li><a href="#">Renewal</a></li>
        </ul>
    </nav>
</div>
  
<!-- <div class="navbar">
     <img src="assets/icicilogo1.png" alt="ICICI Lombard" class="logo">
    <div class="contact-options">
      <span>1800 2666 (Available 24 x 7)</span>
      <button class="call-btn">Call Back</button>
      <button class="chat-btn">Live Chat</button>
    </div>
</div> 
   -->