<div class="icons-row">
    <div class="icon-item">
      <img src="assets/icons/car.png" alt="Car">
      <p>Car</p>
    </div>
    <div class="icon-item">
      <img src="assets/icons/bike.png" alt="Bike">
      <p>Bike</p>
    </div>
    <div class="icon-item">
      <img src="assets/icons/health.png" alt="Health">
      <p>Health</p>
    </div>
    <div class="icon-item">
      <img src="assets/icons/travel.png" alt="Travel">
      <p>Travel</p>
    </div>
    <div class="icon-item">
      <img src="assets/icons/sme.png" alt="SME">
      <p>SME</p>
    </div>
    <div class="icon-item">
      <img src="assets/icons/corporate.png" alt="Corporate">
      <p>Corporate</p>
    </div>
    <div class="icon-item">
      <img src="assets/icons/renewal.png" alt="Renewal">
      <p>Renewal</p>
    </div>
</div> 
  