<!-- <p>form-section works!</p> -->
<div class="form-container">
    <h2>Get an Insurance Quote</h2>
    <form>
      <label for="carReg">Car Registration No.</label>
      <input type="text" id="carReg" placeholder="E.G. MH01DF5698" />
  
      <label for="mobileNo">Mobile Number</label>
      <input type="text" id="mobileNo" placeholder="Enter mobile no." />
  
      <label for="email">Email</label>
      <input type="email" id="email" placeholder="Enter email address" />
  
      <button type="submit">Get Quote</button>
    </form>
  </div>
  