<!-- <p>hero-section works!</p> -->
<!-- <div class="hero-section">
    <h1>Over 4 crore customers have faith in us because we care.</h1>
    <img src="assets/bannerfamily-img.png" alt="family" class="logo">
    <button class="renew-btn">Renew existing ICICI Lombard policy</button>
</div> -->

<div class="banner-section">
    <div class="banner-content">
      <h1>Over 4 crore customers have faith in us because we care.</h1>
      <button class="renew-btn">Renew existing ICICI Lombard policy</button>
    </div>
    <div class="banner-image">
      <img src="assets/motor-insurance.img/bannerfamily-img.png" alt="Family Image" />
    </div>
</div>
  